description "Unicorn"
author "github.com/acook"

# This tells Upstart when to start and stop Unicorn
start on runlevel [23]
stop on shutdown

# It's a bad idea to use root for application deploys so
# I usually have a deploy user that owns everything
# replace this with "nobody" or your own deployment user
setuid deploy
setgid deploy

# Typically you'll want to run Unicorn from your site's root
chdir /home/deploy/sites/example.com

# Here I'm using an RVM-generated wrapper to do all the legwork
# You can also use `bundle exec`, just make sure your PATH is set up
exec /home/deploy/.rvm/wrappers/ruby-2.0.0-p247@example.com/unicorn -c unicorn.rb -E production

# This tells Upstart to restart Unicorn automatically if it falls over
# If you're doing hot restarts, you'll want to try something else
respawn
